.header {
  height: 100%;
  border-bottom: 13px solid #e911a0;
  @include media("<=tablet") {
    border: 13px solid #e911a0;
  }
  @include media("<=736px") {
    border: 10px solid #e911a0;
  }
  @include media("<=375px") {
    border: 8px solid #e911a0;
  }
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px 32px 64px;
  @include media("<=tablet") {
    padding: 20px 70px 22px 50px;
  }
  @include media("<=736px") {
    padding: 10px 70px 10px 14px;
  }
  @include media("<=375px") {
    padding: 8px 70px 8px 12px;
  }
}

.header-logo img {
  @include media("<=736px") {
    max-width: 120px;
  }
  @include media("<=375px") {
    max-width: 100px;
  }
}

.header-nav {
  @include media("<=tablet") {
    display: none;

    &.active {
      display: flex;
      position: fixed;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: #fff;
      z-index: 20;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: space-between;
      align-items: center;
      opacity: 0.9;

      .header-link {
        padding: 20px;
        margin-left: 0;
      }
    }
  }
}

.header-link {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  line-height: 22.69px;
  margin-left: 63px;
  transition: color 0.3s linear;
}

.header-link:hover {
  color: #e911a0;
}
