.about {
  background-image: url(/images/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title__purple {
  padding: 149px 0 0 67px;
  margin-bottom: 80px;
  color: #fff;
  font-size: 69px;
  font-weight: 900;
  text-transform: uppercase;
  &::after {
    content: "";
    display: inline-block;
    width: 27px;
    height: 27px;
    background-color: #000000;
    border-radius: 50%;
    margin-left: 15px;
    margin-bottom: 12px;
  }
}

.about-inner {
  display: flex;
  justify-content: space-between;
  padding: 0 67px 115px 67px;
}

.about-image {
  margin-top: -16px;
  img {
    width: 100%;
  }
}

.about-text {
  width: 100%;
  max-width: 572px;
  min-height: 455px;
  border: 13px solid #000000;
  background-color: #ffffff;
  text-align: left;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 34.79px;
  padding: 64px 84px 20px 73px;
  span {
    font-weight: 700;
  }
}
