.contacts {
  background-color: #e911a0;
}

.contacts-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 190px 80px;
}

.contacts-box {
  width: 100%;
  max-width: 522px;
  background-color: #fff;
  border: 13px solid black;
  position: relative;
  padding: 50px 0 22px 100px;
}

.contacts-info {
  margin-bottom: 28px;
  font-size: 21px;
  a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s linear;
    &:hover {
      color: #e911a0;
    }
  }
}

.mail {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    left: -30px;
    top: 5px;
    width: 30px;
    height: 30px;
    background-image: url(/images/email.png);
    background-repeat: no-repeat;
    background-size: initial;
  }
}

.phone {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    left: -30px;
    top: 3px;
    width: 30px;
    height: 30px;
    background-image: url(/images/telephone.png);
    background-repeat: no-repeat;
    background-size: initial;
  }
}

.address {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    left: -30px;
    top: 0;
    width: 30px;
    height: 30px;
    background-image: url(/images/house-black-silhouette-without-door.png);
    background-repeat: no-repeat;
    background-size: initial;
  }
}
